# ======================
# Node / React
# ======================
node_modules/
dist/
.env

# ======================
# Visual Studio / .NET
# ======================
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.dll

# ======================
# Logs
# ======================
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db
